<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        <div class="card" *ngFor="let imgPath of images; let i = index">
            <img NgLazyImg class="card-img-top"  [src]="imgPath" alt="">
            <div class="card-img-overlay align-middle">
              <div class="card-content">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
        </div>
      </div>
  </div>    
</div>

 